
@{
    ViewData["Title"] = "FizzBuzz";
    int number = Convert.ToInt32(ViewData["number"]);
}

<h2>FizzBuzz</h2>

<!-- Example navigation for part 2 of exercise. -->
<nav>
    <ul>
        <li><a asp-controller="Home" asp-action="FizzBuzz" asp-route-number="20">20</a></li>
        <li><a asp-controller="Home" asp-action="FizzBuzz" asp-route-number="50">50</a></li>
    </ul>
</nav>

