
@{
    ViewData["Title"] = "Greeting";
    string firstName = "Mike";
    string lastName = "Morel";
}

<h2>Greeting</h2>
<p>Welcome, @firstName @lastName! The time is currently @DateTime.Now.</p>

@if (DateTime.Now.Hour < 12)
{
    <p>Good Morning, @firstName</p>
}
else
{
    <p>Good Afternoon, @firstName</p>
}

@for(int r = 0, g = 255; r <= 255; r+=15, g -=15 )
{
    <p style="color: rgb(@r, @g, 128);">Hello, @lastName</p>
}