@{
    ViewData["Title"] = "Index Page";
}
<!-- This is an HTML comment.  Careful though, it will be sent to the client with the rest of the HTML.-->
@*This is a Razor comment.  I can say whatever I want about the user 
    here, because this will not be sent to the client browser.*@

<h2>@ViewData["Title"]</h2>

<p>This is the home page. I hope you like this site. There is Razor code here.</p>
